<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl" ng-app>
<head> <!--ng-app okresla jaka czesc drzewa DOM bedzie zadzadzana przez angular-->
<title>First SPA - Single Page Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<style type="text/css">
table {text-align: center;}
table th { text-align: center;}
.select { padding: 3.5px; }
.ct-btn {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    line-height: 0;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
</style>

</head>
<body>

<div class="container-fluid" style="padding: 20px;" ng-controller="app.PersonCtrl"> 
	<div class="row text-center">
		<div class="col-md-4">
			<label for="number">Rows to display:</label>
			<input type="number" min="1" max="15" step="1" ng-model="rowLimit">
			<br/><br/>
		</div>
		<div class="col-md-4">
		<label>Select sort method:</label>
			<select ng-model="sortColumn" class="select">
				<option value="+id">Id ASC</option>
				<option value="-id">Id DESC</option>
				<option value="+name">First Name ASC</option>
				<option value="-name">First Name DESC</option>
				<option value="+surname">Last Name ASC</option>
				<option value="-surname">Last Name DESC</option>
				<option value="+gender">Gender ASC</option>
				<option value="-gender">Gender DESC</option>
				<option value="+salary">Salary ASC</option>
				<option value="-salary">Salary DESC</option>
				<option value="+dateOfBirth">Date of Birth ASC</option>
				<option value="-dateOfBirth">Date of Birth DESC</option>
			</select>
		</div>
		<div class="col-md-4">
			<label>Search a first name:</label>
			<input type="text" ng-model="filterQuery" placeholder="Search"/>
		</div>
	</div>
	<div class="row">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Gender</th>
					<th>Salary</th>
					<!--<th>Date of Birth</th>-->
					<th>Opinion (1 - 6)</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in array | limitTo:rowLimit | orderBy: sortColumn | filter: filterQuery">
					<td> {{item.id}} </td>
					<td> {{item.name | uppercase}} </td>
					<td> {{item.surname | uppercase}} </td>
					<td> {{item.gender}} </td>
					<td> {{item.salary | currency}} </td>
					<!--<td> {{item.dateOfBirth | date:"dd MMMM yyyy"}} </td>-->
					<td> {{item.opinion}}
						<button value="" class="ct-btn" ng-click="incFunction(item)">+</button>
						<button value="" class="ct-btn" ng-click="descFunction(item)">-</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script> -->	
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/controller2.js"></script>
</body>
</html>