<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl" ng-app>
<head> <!--ng-app okresla jaka czesc drzewa DOM bedzie zadzadzana przez angular-->
<title>First SPA - Single Page Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<style type="text/css">
	.paragraph {
		position: absolute;
		top: 50%;
		left: 50%;
	}
	#dupa {
		color: red;
	}

	.dupa {
		color: yellow!important;
	}
	table {
		text-align: center;
	}
	label { display: block; }
	a { display: block; }
	span { display: block ;}
</style>

</head>
<body>

<!--First example-->
<!-- <input type="number" ng-model='ciag_znakow' class="ct-input">
<p ng-show="ciag_znakow" class="paragraph">Hello {{ciag_znakow}} </p> -->

<!--Second example-->
<!-- <div ng-controller="FirstCtrl">
	<p> Witaj, {{message.name}} {{message.surname}}. Masz {{message.age}} </p>
	<p> {{</p>
</div> -->
<!--Third example-->
<!-- <input type="text" ng-model="message.name">
<p ng-show="message.name">Witaj, {{message.name}}</p> -->

<!--Four example-->
<!-- <input type="text" ng-model="message.name">
<p ng-hide="message.name">Witaj, {{message.name}}</p> -->

<!--Five example-->
<!--<input type="text" ng-model="message.name">
<p ng-show="message.name">DUZE litery: {{message.name | uppercase}}</p>
<p ng-show="message.name">male litery: {{message.name | lowercase}}</p>-->

<!--Six examples-->
<!--<div ng-controller="app.PierwszyKontroler">
	<h1>Hello {{ name }}!</h1>
</div>

<div ng-controller="app.DrugiKontroler">
	<h1>Hello {{ surname }}!</h1>
</div>-->

<div ng-controller="app.TrzeciKontroler">
	<a ng-click="function1()">Click here</a>
	<a ng-click="function2()">Click here</a>
	<h1>Hello {{ name | uppercase }}</h1>
	<p> Hello {{ {name : 'koks', age : '23'}.age }} </p>
	<p> Hello {{ ['Tomek','Lukasz','Kamil'][3] }} </p>
</div>

<div ng-controller="app.SearchCtrl">
	<label for="#input1">Enter a city:</label>
	<input type="text" id="#input1" ng-model="filterQuery" placeholder="filter"/>
	<ul>
		<li ng-repeat="item in cities | filter:filterQuery"> {{item}} </li>
	</ul>
</div>

<div ng-controller="app.ImgCtrl">
	<img ng-src={{img.src}} alt={{img.alt}} title={{img.title}}/>
</div>

<table ng-controller="app.PersonCtrl">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Gender</th>
			<th>Salary</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in persons">
			<td>{{ item.firstName }}</td>
			<td>{{ item.lastName }}</td>
			<td>{{ item.gender }}</td>
			<td>{{ item.salary }}</td>
		</tr>
	</tbody>
</table>

<ul ng-controller="app.CountriesCtrl">
	<li ng-repeat="country in countries">{{country.name}}
	<ul>
		<li ng-repeat="city in country.towns">{{city.name}}</li>
	</ul>
	</li>
</ul>


<table ng-controller="app.TechnologiesCtrl">
	<thead>
		<tr>
			<th>Name</th>
			<th>Likes</th>
			<th>Dislikes</th>
			<th>Like/Dislike</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in technologies">
			<td> {{item.name}} </td>
			<td> {{item.likes}} </td>
			<td> {{item.dislikes}} </td>
			<td>
				<input type="button" value="Like" ng-click="incrementLikes(item)">
				<input type="button" value="Like" ng-click="incrementDislikes(item)">
			</td>
		</tr>
	</tbody>
</table>

<!--Zwiekszanie i zmniejszanie wartosc-->
<div class="ct-kontrola" ng-controller="app.ZwiekszaczCtrl">
	<input type="text" ng-model="wartosc">
	<label id="label">Wartosc to: <span> {{ wartosc }}</span></label>
	<a href="" ng-click="incFunction(2)">Zwieksz (+)</a>
	<a href="" ng-click="descFunction(2)">Zmniejsz (-)</a>
</div>
<!--Petla od 0 do 100-->
<div ng-controller="app.LoopCtrl">
	<span ng-repeat="item in values"> {{ item }} </span>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script> -->
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/controller.js"></script>
</body>
</html>